$color-black-005: rgba(0, 0, 0, .05);
$color-black-01: rgba(0, 0, 0, .1);
$color-black-02: rgba(0, 0, 0, .2);
$color-black-03: rgba(0, 0, 0, .3);
$color-black-04: rgba(0, 0, 0, .4);
$color-black-05: rgba(0, 0, 0, .5);
$color-black-06: rgba(0, 0, 0, .6);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-red: rgb(245, 0, 87);
$color-dark-red: rgb(211, 0, 0);
$color-red-03: rgb(245, 0, 87, .3);
$color-yellow: rgb(247, 198, 0);
$color-green: rgb(2, 155, 2);
$color-blue: rgb(76, 76, 252);
$color-dark-blue: rgb(63, 63, 235);

$z-index-popup-window: 999;
$z-index-shade: 998;
$z-index-dropdown: 997;
